html,
body,
form,
fieldset {
  margin: 0;
  padding: 0;
}
body.fs1 {
  font-size: 10px;
}
body.fs2 {
  font-size: 11px;
}
body.fs3 {
  font-size: 12px;
}
body.fs4 {
  font-size: 13px;
}
body.fs5 {
  font-size: 14px;
}
body.fs6 {
  font-size: 15px;
}

/* Clearfix */
.clearfix {
  clear: both;
}
#zt-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
#zt-wrapper-inner {
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
}
.zt-wrapper {
  width: 980px;
  margin: 0 auto;
}

#zt-userwrap1,
#zt-userwrap1-inner,
#zt-header,
#zt-header-inner,
#zt-mainmenu,
#zt-slideshow,
#zt-userwrap2,
#zt-top,
#zt-mainframe,
#zt-mainframe-inner,
#zt-mainbody,
#zt-content,
#zt-content-inner,
#zt-content-inner2,
#zt-userwrap3,
#zt-col,
#zt-bottom,
#zt-bottom2,
#zt-bottom-inner {
  width: 100%;
  display: table;
}

/*  Header  */
#zt-header {
  background: url(http://skswisla.com/templates/zt_hong25/images/bg-zt-header.png)
    repeat-x left top;
}
#zt-header-inner {
  position: relative;
  padding: 20px 0px;
}
#zt-logo {
  width: 50%;
  float: left;
}

#zt-logo h1 {
  display: inline-block;
  margin: 0;
}
#logo a {
  width: 600px;
  height: 126px;
  background: url(../images/logo.png) no-repeat left top;
  float: left;
  overflow: hidden;
}
#logo span {
  font-size: 0;
  line-height: 0;
  text-indent: 999px;
  display: none;
}

#zt-search {
  float: right;
  margin: 10px 15px 0 0;
}
.search {
  width: 240px;
  height: 30px;
  background: url(../images/bg-button-search.png) no-repeat 95% center;
  border: 1px solid #948f87;
}
#zt-userwrap2 .search {
  width: 220px;
}
.search .inputbox {
  border: 0 none;
  height: 25px;
  line-height: 25px;
  float: left;
  width: 190px;
  padding: 1px 10px;
  background: 0 none;
  color: #8e9091;
}
#mod-search-searchword {
  color: #333;
}
#zt-userwrap2 .search .inputbox {
  width: 170px;
}
.search .bt-search {
  width: 15px;
  height: 16px;
  background: url(../images/bg-button-search.png) no-repeat right top;
  float: right;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -999px;
  margin: 4px 10px 0px 0px;
}
/*Main Menu*/
#zt-mainmenu {
  clear: both;
  position: relative;
  z-index: 999;
  background: #0000ff;
  border-bottom: 5px solid #ff0000;
}
#zt-mainmenu-inner {
  width: 100%;
  float: left;
}
/*Slide Show*/
#zt-slideshow {
  margin-top: 5px;
  position: relative;
  z-index: 99;
  overflow: hidden;
  display: inline-block;
}
#zt-slideshow-inner {
  padding: 0px;
  background: #000000;
}
/*  End Header  */

/*  zt-Userwrap2  */
#zt-userwrap2 {
}
#zt-userwrap2-inner {
  padding: 15px;
  background: #e2e3de;
  overflow: hidden;
}
.zt-user {
  float: left;
  position: relative;
}

#zt-userwrap2 .zt-user .zt-box-inside {
  overflow: hidden;
}
#zt-userwrap3-inner {
  margin: 0 -6px;
}
.zt-box-inside {
  padding: 0px 6px;
  display: table;
}

/*  End zt-Userwrap2  */

/*  zt-Top  */
#zt-top {
  padding: 20px 0px 0px 0px;
}
#zt-top-inner,
#zt-top-inner p {
  font-weight: bold;
  color: #3b99e6;
}
/*  End zt-Top  */

/*  zt-Mainframe  */
#zt-mainframe {
}
#zt-mainframe-inner {
}
#zt-mainbody-inner {
  padding: 15px;
  background: #fff;
}
#zt-left {
  width: 255px;
  float: left;
}
#zt-left-inner {
  padding: 0px 15px 0px 0px;
}
#zt-middle-inner {
  width: 410px;
  padding: 15px;
  float: left;
}
#zt-container-left #zt-middle-inner,
#zt-container-right #zt-middle-inner {
  width: 665px;
  float: left;
}
#zt-container-full #zt-middle-inner {
  width: 920px;
  float: left;
}
#zt-right {
  width: 255px;
  float: right;
}
#zt-right-inner {
  padding: 0px 0px 0px 15px;
}
#zt-right .modulecontent {
  overflow: hidden;
}
#zt-right .modulecontent img {
  border: 2px solid #e5e6e6;
}

#zt-right .modulecontent a.readon {
  float: right;
  margin-right: 5px;
}

/*  End zt-Mainframe  */

/*  User 3  */
#zt-userwrap3 {
  margin: 20px 0px 0px 0px;
}
#zt-userwrap3 h3.moduletitle {
  font-size: 16px;
}
/*  Footer  */
#zt-bottom {
}
#zt-bottom-inner {
  padding: 20px 0px 40px 0px;
}
#zt-footer {
  float: left;
  width: 50%;
}
#zt-footer ul {
  margin: 0;
  padding: 0;
}
#zt-footer ul li {
  margin: 0px 10px 0px 0px;
  padding: 0px 10px 0px 0px;
  float: left;
  background: url(../images/sperator-menu-top.png) no-repeat right center;
}
#zt-footer ul li.last {
  margin: 0px;
  padding: 0px;
  background: 0 none;
}
#zt-footer ul li a {
  float: left;
}

#zt-copyright a {
  color: #ccc;
}
/*  End Footer  */

/*  Style  */
div.moduletable,
div.moduletable_menu,
div.moduletable_text,
div.moduletable_contact,
div.module,
div.module_menu,
div.module_text {
  clear: both;
  margin: 0 0 20px;
  overflow: hidden;
  position: relative;
}

h3.title,
h3.moduletitle {
  color: #312e29;
  font-size: 145%;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 10px;
}

#zt-left div.moduletable_menu ul li {
  padding: 3px 0 3px 18px;
  background: url(../images/bullet.png) no-repeat left 8px;
}
#zt-left div.moduletable_menu ul li a {
  font-weight: bold;
}
#zt-login div.zt-field {
  width: 100%;
  display: table;
  margin-bottom: 10px;
}
#zt-login div.zt-field-greeting {
  padding: 8px 10px 0 0;
  float: right;
  width: 300px;
  text-align: right;
}

#zt-login div.zt-field-submit {
  float: right;
  width: 70px;
}
#zt-login div.zt-field a {
  padding-left: 10px;
  color: #fff;
}
.zt-login-form .zt-field,
.zt-login-form .zt-field-submit,
.zt_newsletter .zt-field,
.zt_newsletter .zt-field-submit {
  width: 100%;
  float: left;
  margin: 0px 0px 5px 0px;
}

.zt-login-form {
  margin: 10px 0;
  display: table;
}
.zt-login-form input.inputbox,
.zt_newsletter input.inputbox {
  width: 180px;
}

#zt-col {
  color: #fff;
  background-color: #000000;
}
#zt-col h3.title,
#zt-col h3.moduletitle {
  color: #fff;
}
#zt-col-inner {
  overflow: hidden;
  padding: 20px 0px 0px 0px;
}
#zt-col .zt-user .zt-box-inside {
  overflow: hidden;
}
#zt-col .zt-box-left .zt-box-inside {
  padding: 0px 12px 0px 0px;
}
#zt-col .zt-box-center .zt-box-inside {
  padding: 0px 6px 0px 6px;
}
#zt-col .zt-box-right .zt-box-inside {
  padding: 0px 0px 0px 12px;
}
#zt-col .zt-user .moduletable {
  margin: 0;
}

#zt-col .zt-user .moduletable,
#zt-col .zt-user .modulecontent {
  overflow: hidden;
}
#zt-col .zt-user .moduletable,
#zt-col .zt-user .moduletable p {
  width: 100%;
  display: inline-block;
}
#zt-col .zt-user .moduletable p img {
  float: left;
  margin: 0px 10px 0px 0px;
}

.zt_newsletter .modulecontent {
}
.zt_newsletter .modulecontent p.desc {
  font-size: 11px;
  line-height: normal;
}

.page-into-register fieldset label {
  width: 140px;
  float: left;
  margin: 10px 0px 0px 0px;
}
.page-into-register fieldset input.inputbox {
  margin: 5px 0px;
  width: 200px;
}

.zt-latest-news {
}
.zt-latest-news ul {
  margin: 0;
}
.zt-latest-news ul li {
  padding: 10px 0px;
  background: 0 none;
  border-bottom: 1px dotted #ddd;
  display: inline-block;
}
.zt-latest-news ul li.last {
  background: 0 none;
}
.zt-latest-news .modulecontent a.title {
  font-weight: bold;
  color: #f61630;
}

#zt-left .module-head,
#zt-right .module-head {
  background: #fefefc url(../images/bg-module-head.gif) repeat-x left bottom;
}
#zt-left .module-head .module-head-inner,
#zt-right .module-head .module-head-inner {
  padding: 10px;
}
#zt-left .module-head .moduletitle,
#zt-right .module-head .moduletitle {
  margin: 0;
}

#zt-left .modulecontent,
#zt-right .modulecontent {
  background: #fefefe;
}
#zt-left .modulecontent .modulecontent-inner,
#zt-right .modulecontent .modulecontent-inner {
  padding: 0 10px;
  display: table;
}
